@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity?.Name !!</h1>
        <p>Welcome to app.</p>
        
        <h3>Is @context.User.Identity?.Name a user?: @context.User.IsInRole("User")</h3>
        <h3>Is @context.User.Identity?.Name an admin?: @context.User.IsInRole("Admin")</h3>
    </Authorized>
    <Authorizing>
        <h1>Authorizing ...</h1>
    </Authorizing>
</AuthorizeView>